@font-face {
  font-family: "Anybody";
  src: url("../src/assets/fonts/Anybody.ttf");
}

body {
  margin: 0;
  background: black;
  font-family: "Anybody";
}

p{
  margin: 0;
}

* {
  box-sizing: border-box;
}

@keyframes rotate {
  from { transform: rotateY(0); }
  25% { transform: rotateY(90deg); }
  50% { transform: rotateY(180deg); }
  75% { transform: rotateY(270deg); }
  to { transform: rotateY(360deg); }
}